<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Testing</display-name>
    <servlet-name>Testing</servlet-name>
    <servlet-class>test.Testing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Testing</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <display-name>job_portal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.hostmdy.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobPostController</display-name>
    <servlet-name>JobPostController</servlet-name>
    <servlet-class>com.hostmdy.controller.JobPostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobPostController</servlet-name>
    <url-pattern>/jobpost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResumeController</display-name>
    <servlet-name>ResumeController</servlet-name>
    <servlet-class>com.hostmdy.controller.ResumeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeController</servlet-name>
    <url-pattern>/resume</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobApplyController</display-name>
    <servlet-name>JobApplyController</servlet-name>
    <servlet-class>com.hostmdy.controller.JobApplyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobApplyController</servlet-name>
    <url-pattern>/jobapply</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenicationFilter</display-name>
    <filter-name>AuthenicationFilter</filter-name>
    <filter-class>com.hostmdy.filter.AuthenicationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenicationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>